*{
    padding: 0px;
    margin: 0px;
    color: white;
}
body{
    background-image: radial-gradient(circle,#34e89e 0%, #0f3443 100%);
}
h1{
    text-align: center;
}
hr{
    background-color: black;
}
.pic{

    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin: 10px;
    padding: 10px;
}
.intro{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
table, th, td {
    border: 1px solid white;
    padding: 15px;
  }
.tab{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 10px;

}

.skills{
    text-align: center;
    margin: 10px;
    padding: 10px;

}
.projects{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    margin: 10px;
    padding: 15px;

}
.contact{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}